*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  width: 100%;

}
figure {
  margin: 0;
}


article.film {
    border: 1px solid lightgrey;
    padding: 15px;


}

.film {
  width: 50%;
  margin: 40px auto;
}

.film-poster {
  display: inline-block;
  position: relative;
  width:40%;
}

.film-details {
  position: relative;
  display: inline-block;
  width: 50%;

}

.action-watch-later {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.action-like {
  position: absolute;
  bottom: 0;
  right:0;
  color: red;
}
